theme = "jellybeans"

[keys.normal]
C-j = [
    ":write-all",
    ":new",
    ":insert-output lazyjj",
    ":buffer-close!",
    ":redraw",
    ":reload-all"
]
C-g = [
    ":write-all",
    ":new",
    ":insert-output lazygit",
    ":buffer-close!",
    ":redraw",
    ":reload-all"
]

[keys.normal."space"]
t = [
    ":vsplit-new",
    ":insert-output rg TODO",
]
